*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
    font-family: Montserrat;
    background-color: #fafafa;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* Header */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin: 0 0 0 133px;
}
@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 40px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 20px;
    }
    .header__container {
        min-height: 85px;
    }
}

/* Menu */
.menu {
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item:not(:last-child) {
    margin: 0 24px 0 0;
}
.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: 171%;
}
.menu__link:hover {
    text-decoration: underline;
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}

/* Header block */
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 142%;
}
.header-block__title:not(:last-child) {
    margin: 0 0 10px 0;
}
.header-block__sub-title {
    color: #737373;
}
@media (max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    }
}
@media (max-width: 767px) {
    .header-block__title {
        font-size: 30px;
    }
}

/* Item service */
.item-service {
    background-color: white;
}
.item-service_green {
    background-color: #0D5C63;
}
.item-service_green .item-service__title {
    color: white;
}
.item-service_green .item-service__text {
    color: white;
}
.item-service>*:not(:last-child) {
    margin: 0 0 10px 0;
}
.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}
.item-service__text {
    color: #737373;
    list-style: 142%;
}

/* Item practice */
.item-practice {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}
.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}
.item-practice__link {
    display: inline-block;
    color: inherit;
}
.item-practice__link:hover {
    text-decoration: underline;
}
.item-practice__link:not(:last-child) {
    margin: 0 0 15px 0;
}
.item-practice__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}
.item-practice__text {
    flex-grow: 1;
    color: #737373;
    line-height: 142%;
}
.item-practice__image {
    display: block;
    padding: 0 0 60% 0;
}

/* Item who we are */
.item-whoweare {
    display: flex;
}
.item-whoweare__icon {
    flex: 0 0 32px;
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}
.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.item-whoweare__title:not(:last-child) {
    margin: 0 0 5px 0;
}
.item-whoweare__text {
    color: #737373;
    white-space: nowrap;
    line-height: 142%;
    width: 225px;
    text-overflow: ellipsis;
}

/* Item get in touch */
.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px 15px;
}
.item-getintouch_active {
    color: white;
    background-color: #252B42;
    padding: 80px 15px;
}
.item-getintouch_active .item-getintouch__button {
    border-color: white;
    color: white;
}
.item-getintouch > *:not(.last-child) {
    margin: 0 0 15px 0;
}
.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-getintouch__email {
    color: inherit;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
}
.item-getintouch__email:hover {
    text-decoration: underline;
}
.item-getintouch__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.item-getintouch__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FF7B47;
    line-height: 142%;
    font-weight: 600;

    border: 1px solid #FF7B47;
    border-radius: 5px;
    min-height: 44px;
    padding: 5px 20px;
    
    transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover {
    background-color: #FF7B47;
    border-color: #FF7B47;
    color: white;
}

/* Menu footer */
.menu-footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}
.menu-footer__link:hover {
    text-decoration: underline;
}
.menu-footer__link {
    color: white;
    letter-spacing: 0.2px;
    line-height: 171%;
}

/* Contacts footer */
.contacts-footer {
    display: flex;
    flex-direction: column;
}
.contacts-footer__item {
    color: white;
    padding: 0 0 0 34px;
    line-height: 142%;
    display: flex;
    align-items: center;
    min-height: 30px;
}
.contacts-footer__item:hover {
    text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
    margin: 0 0 12px 0;
}
.contacts-footer__phone {
    background: url('../img/footer/icons/01.svg') 0 0 no-repeat;
}
.contacts-footer__map {
    background: url('../img/footer/icons/02.svg') 0 0 no-repeat;
}
.contacts-footer__email {
    background: url('../img/footer/icons/03.svg') 0 0 no-repeat;
}

/* Social */
.social {
    display: flex;
    align-items: center;
}
.social__item:not(:last-child) {
    margin: 0 20px 0 0;
}

/* Page */
.page {
    flex-grow: 1;
}
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0;
}
.page__clients:not(:last-child) {
    margin: 0 0 10px 0;
}

/* Main block */
.main-block {
    position: relative;
}
.main-block__body {
    position: relative;
    padding: 184px 0 191px 0;
    z-index: 2;
    max-width: 409px;
}
.main-block__body > *:not(:last-child) {
    margin: 0 0 35px 0;
}
.main-block__title {
    font-size: 58px;
    line-height: 137%;
    font-weight: 800;
    letter-spacing: 0.2px;
}
.main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: 150%;
}
.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-block__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    margin: 10px 0;
    padding: 5px 36px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;

    border-radius: 37px;
    transition: all 0.3s ease 0s;
}
.main-block__button:hover {
    background-color: white;
    color: #FF7B47;
}
.main-block__button_orange {
    color: white;

    background-color: #FF7B47;
}
.main-block__button_border {
    color: #0D5C63;

    border: 1px solid #0D5C63;
}
.main-block__button_border:hover {
    color: white;
    background-color: #0D5C63;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block__image img {
        opacity: 50%;
    }
}
@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
    .main-block__button {
        flex-grow: 1;
        flex-basis: 100%;
    }
}
@media (min-width: 479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

/* Services */
.services__column {
    margin: 0 0 30px 0;
    padding: 0 15px;
    flex: 0 1 calc(100% / 3);
}
.services__item {
    min-width: 300px;
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px;
}
@media (min-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
}
@media (max-width: 992px) {
    .services__column {
        flex: 1 0 50%;
    }
}
@media (max-width: 479px) {
    .services__item {
        padding: 25px;
    }
}

/* Advantages */
.advantages {
    padding: 80px 0;
}
.advantages__header {
    margin: 0 0 50px 0;
}
.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.advantages__column {
    padding: 0 15px;
    flex: 0 1 25%;
}
.advantages__item {
    padding: 30px 25px;
    text-align: center;
    background-color: white;
    font-weight: 700;
}
.advantages__item > *:not(:last-child) {
    margin: 0 0 10px 0;
}
.advantages__icon {
    display: flex;
    height: 48px;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value {
    font-size: 40px;
    line-height: 142%;
}
.advantages__text {
    letter-spacing: 0.1px;
    color: #737373;
    font-size: 16px;
    line-height: 150%;
}
@media (max-width: 1000px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 992px) {
    .advantages {
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .advantages {
        padding: 30px 0;
    }
    .advantages__header {
        margin: 0 0 25px 0;
    }
}
@media (max-width: 560px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}

/* Practice */
.practice {
    padding: 125px 0 80px 0;
}
.practice__header {
    margin: 0 0 45px 0;
}
.practice__body {
    margin: 0 -15px -30px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    margin: 0 0 30px 0;
    padding: 0 15px;
    flex: 0 1 25%;
}
@media (max-width: 767px) {
    .practice__header {
        margin: 0 0 25px 0;
    }
}
@media (max-width: 1040px) {
    .practice__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 630px) {
    .practice__column {
        flex: 0 1 100%;
    }
}

/* Who we are */
.whoweare {
    padding: 80px 0 130px 0;
    background-color: white;
}
.whoweare__header {
    margin: 0 0 100px 0;
}
.whoweare__body {
    display: flex;
    align-items: flex-start;
}
.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
}
.whoweare__top:not(:last-child) {
    margin: 0 0 50px 0;
}
.whoweare__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
    margin: 0 0 10px 0;
}
.whoweare__text {
    color: #737373;
    line-height: 142%;
}
.whoweare__item:not(:last-child) {
    margin: 0 0 30px 0;
}
@media (max-width:1080px) {
    .whoweare__content {
        padding: 0 0 0 50px;
    }
}
@media (max-width: 950px) {
    .whoweare {
        padding: 50px 0 50px 0;
    }
    .whoweare__header {
        margin: 0 0 30px 0;
    }
    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .whoweare__video {
        padding: 0 0 56.25% 0;
    }
    .whoweare__video:not(:last-child) {
        margin: 50px 0 0 0;
    }
    .whoweare__content {
        padding: 0 0 0 0;
    }
    .whoweare__title {
        font-size: 24px;
    }
}
@media (max-width: 767px) {
    .whoweare {
        padding: 20px 0 50px 0;
    }
    .whoweare__top:not(:last-child) {
        margin: 0 0 30px 0;
    }
    .whoweare__video:not(:last-child) {
        margin: 30px 0 0 0;
    }
}

/* Clients */
.clients {
    padding: 50px 0;
}
.clients__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.clients__item {
    padding: 8px 15px;
    flex: 0 1 16.666%;
    align-items: center;
    min-width: 140px;
}
.clients__item img {
    max-width: 100%;
}
@media (max-width: 767px) {
    .clients {
        padding: 30px 0;
    }
}

/* Subscribe */
.subscribe {
    position: relative;
    padding: 0 0 20px 0;
}
.subscribe::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background-color: #252B42;
}
.subscribe__body {
    position: relative;
    z-index: 2;
    align-items: center;
    padding: 30px 50px;
    background-color: #17213C;
    border-radius: 2px;
}
.subscribe__title {
    font-size: 24px;
    line-height: 133%;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: white;

    flex: 0 1 50%;
}
.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subscribe__input {
    flex: 1 1 auto;
    min-height: 58px;
    background-color: #f9f9f9;
    color: #737373;
    padding: 0 20px;
    border: 1px solid #e6e6e6;
    border-right-width: 0;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}
.subscribe__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 22px;
    min-height: 58px;

    color: white;
    cursor: pointer;

    border: 1px solid #e6e6e6;
    border-radius: 0 5px 5px 0;
    background-color: #FF7B47;
    transition: all 0.3s ease 0s;
}
.subscribe__button:hover {
    background-color: #be5a33;
}
@media (min-width: 1050px) {
    .subscribe__body {
        margin: 0 30px;
    }
}
@media (min-width: 810px) {
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
    .subscribe__title {
        max-width: 266px;
    }
}
@media (max-width: 810px) {
    .subscribe__button {
        padding: 0 15px;
    }
    .subscribe__input {
        padding: 0 15px;
    }
    .subscribe__title {
        margin: 0 0 20px 0;
    }
    .subscribe__body {
        margin: 0 -15px;
        padding: 20px 25px;
    }
}

/* Get in touch */
.getintouch {
    padding: 80px 0 135px 0;
}
.getintouch__header {
    margin: 0 0 80px 0;
}
.getintouch__items {
    margin: 0 -15px;
}
.getintouch__item {
    flex: 0 1 33.333%;
}
@media (max-width: 992px) {
    .getintouch {
        padding: 50px 0 50px 0;
    }
    .getintouch__header {
        margin: 0 0 50px 0;
    }
}
@media (min-width: 992px) {
    .getintouch__items {
        display: flex;
        align-items: center;
        margin: 0;
    }
}
@media (max-width: 767px) {
    .getintouch__header {
        margin: 0 0 30px 0;
    }
}

/* Contact */
.contact {
    background-color: white;
    padding: 42px 0;
}
.contact__content {
    padding: 0 0 20px 0;
}
.contact__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}
.contact__title:not(:last-child) {
    margin: 0 0 10px 0;
}
.contact__text {
    color: #737373;
    line-height: 142%;
}
.contact__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    min-height: 58px;
    padding: 5px 40px;
    color: white;
    background-color: #FF7B47;
    transition: background-color 0.3s ease 0s;
}
.contact__button:hover {
    background-color: rgba(201, 97, 56, 0.741)
}
@media (min-width: 767px) {
    .contact__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact__content {
        padding: 0 20px 0 0;
    }
}

/* Footer */
.footer__top {
    background-color: #17213C;
    padding: 30px 0;
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.footer__column {
    padding: 20px 15px;
    flex: 0 1 16.6667%;
    min-width: 170px;
}
.footer__column:last-child {
    flex: 0 1 33.334%;
}
.footer__label {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 20px 0;
}
.footer__bottom {
    padding: 25px 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
    color: #737373;
    line-height: 171%;
    padding: 5px 0;
}
@media (max-width: 992px) {
    .footer__column {
        flex: 0 1 25%;
    }
    .footer__column:last-child {
        flex: 1 1 100%;
    }
}
@media (max-width: 767px) {
    .footer__container {
        flex-direction: column;
    }
    .footer__copy {
        margin: 0 0 15px 0;
        text-align: center;
    }
}
@media (max-width: 700px) {
    .footer__column {
        flex: 0 1 50%;
    }
}